* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: #f8fafc;
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.container h1 {
  margin-top: 40px;
}

header {
  position: sticky;
  top: 0;

  background: #0f172a;

  border-bottom: 1px solid #1e293b;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 0;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #38bdf8;
}

.skills-section {
  padding: 70px 0;
}

.skills-section h2 {
  font-size: 2rem;

  margin-bottom: 30px;
}

.skills-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

  gap: 20px;
}

.skill-card {
  background: #1e293b;

  border: 1px solid #334155;

  border-radius: 12px;

  padding: 30px;

  text-align: center;

  font-weight: bold;

  transition: 0.3s;
}

.skill-card:hover {
  transform: translateY(-5px);

  border-color: #38bdf8;

  color: #38bdf8;
}
